/* default font used */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-hide:hover {
  scrollbar-color: auto auto;
}

/* UserChart */

@media (max-width: 768px) {
  .chart-container canvas {
    width: 100%;
  }

  .chart-container {
    overflow-x: scroll;
  }

  user-chart {
    overflow-x: scroll;
  }
}
